{% extends '@layout/default.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h3>Login</h3>
    <p><label>Login <input type="text"></label></p>
    <p><label>Password <input type="password"></label></p>
    <p><button>login</button></p>
    <p><label><input type="checkbox"> Remember me</label></p>
{% endblock %}